@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root.dark {
  --color-fd-background: #0f1115;
  --color-fd-foreground: #ffffff;
  --color-fd-muted: #16181d;
  --color-fd-muted-foreground: #a1a1a1;
  --color-fd-card: #16181d;
  --color-fd-card-foreground: #ffffff;
  --color-fd-popover: #1c1e24;
  --color-fd-popover-foreground: #ffffff;
  --color-fd-border: rgba(255, 255, 255, 0.10);
  --color-fd-primary: #3b82f6;
  --color-fd-primary-foreground: #ffffff;
  --color-fd-secondary: #1c1e24;
  --color-fd-secondary-foreground: #ffffff;
  /* --color-fd-accent: #3b82f6; */
  --color-fd-accent-foreground: #ffffff;
  --color-fd-ring: #3b82f6;
}


